# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.env.*.local

public/ui-prototype-pictures
src/api/appsettings.json
src/api/obj/Debug/net10.0/InventorySystemBackend.AssemblyInfoInputs.cache
src/api/obj/Debug/net10.0/InventorySystemBackend.AssemblyInfo.cs
src/api/obj/Debug/net10.0/InventorySystemBackend.AssemblyInfo.cs
src/api/obj/Debug/net10.0/InventorySystemBackend.AssemblyInfoInputs.cache
